[mysqld]
early-plugin-load = keyring_file.so
keyring_file_data = /var/lib/mysql-keyring/keyring
bind-address = 0.0.0.0
innodb_file_per_table=ON

# Optional: Automatically encrypt all tables
default_table_encryption = ON